.VAR_DUMP-DEADBEEF { //to avoid accidenttal stylings
	#var_dump {
		font-family: monospace;
		font-size: 16px;
		white-space: pre-wrap;
		font-family: sans-serif;
		
		//elements default colors
		.prop {
			font-weight: bold;
		}

		.null {
			color: red;
		}

		.bool {
			color: purple;
		}

		.int {
			color: blue;
		}
		
		.float {
			color: orange;
		}

		.string {
			color: green;
			white-space: pre-wrap;
		}

	  	.key {
		  float:left; //so that values appear next to their keys
		}

		#root{
			margin: 0 0 0 0;
		}
		
		//structure


		ul {
			list-style: none;
			margin: -18px 0 0 2em;
			padding: 0;
		}

		//utility
		.OpenClose {
			cursor:pointer;
		}

		.hide {
			display:none;
		}

		.clear {
			clear:both;
		}

		.all {
			background-color:rgba(146,116,51,.1);
			width:250px;
		}

		.closeall{
			float:right; 
		}

		.closeall:hover {
			text-decoration:underline;
			cursor:pointer
		}

		.openall:hover {
			text-decoration:underline;
			cursor:pointer;
		}
	}

	.modal { 
		max-height:80%;
		width:80%;
		position:fixed;
		box-shadow: 0px 0px 10px #888;
		top:10%;
		left:10%;
		padding:5%;
		background-color:white;
		opacity:.90;
		box-sizing:border-box;
		overflow:scroll;
	}

	.close {
		background-color:rgba(146,120,51,.1);
		width:250px;
	}
	.close:hover {
		text-decoration:underline;
		cursor:pointer
	}
}