.VAR_DUMP-DEADBEEF #var_dump {
  font-family: monospace;
  font-size: 16px;
  white-space: pre-wrap;
  font-family: sans-serif; }
  .VAR_DUMP-DEADBEEF #var_dump .prop {
    font-weight: bold; }
  .VAR_DUMP-DEADBEEF #var_dump .null {
    color: red; }
  .VAR_DUMP-DEADBEEF #var_dump .bool {
    color: purple; }
  .VAR_DUMP-DEADBEEF #var_dump .int {
    color: blue; }
  .VAR_DUMP-DEADBEEF #var_dump .float {
    color: orange; }
  .VAR_DUMP-DEADBEEF #var_dump .string {
    color: green;
    white-space: pre-wrap; }
  .VAR_DUMP-DEADBEEF #var_dump #root {
    margin: 0 0 0 0; }
  .VAR_DUMP-DEADBEEF #var_dump li {
    position: relative; }
  .VAR_DUMP-DEADBEEF #var_dump ul {
    list-style: none;
    margin: -18px 0 0 2em;
    padding: 0; }
  .VAR_DUMP-DEADBEEF #var_dump .OpenClose {
    cursor: pointer; }
  .VAR_DUMP-DEADBEEF #var_dump .hide {
    display: none; }
  .VAR_DUMP-DEADBEEF #var_dump .clear {
    clear: both; }
  .VAR_DUMP-DEADBEEF #var_dump .all {
    background-color: rgba(146, 116, 51, 0.1);
    width: 250px; }
  .VAR_DUMP-DEADBEEF #var_dump .closeall {
    float: right; }
  .VAR_DUMP-DEADBEEF #var_dump .closeall:hover {
    text-decoration: underline;
    cursor: pointer; }
  .VAR_DUMP-DEADBEEF #var_dump .openall:hover {
    text-decoration: underline;
    cursor: pointer; }
.VAR_DUMP-DEADBEEF .modal {
  height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  width: 80%;
  position: fixed;
  box-shadow: 0px 0px 10px #888;
  top: 5%;
  left: 5%;
  padding: 5%;
  background-color: white;
  opacity: .90; }
.VAR_DUMP-DEADBEEF .close {
  background-color: rgba(146, 120, 51, 0.1);
  width: 250px; }
.VAR_DUMP-DEADBEEF .close:hover {
  text-decoration: underline;
  cursor: pointer; }
