{
  "extends": "airbnb-base",
  "env": {
    "webextensions": true
  },
  "rules": {
    "comma-dangle": "off",
    "indent": ["error", 4],
    "no-else-return": "off",
    "no-trailing-spaces": "off",
    "object-shorthand": "off",
    "semi": "off"
  },
  "globals": {
    "localStorage": true,
    "varDumpModalTools": true,
    "varDumpListenerTools": true,
    "varDumpParsingTools": true,
    "varDumpDisplayGenerationTools": true
  }
}